*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background: whitesmoke;

        
        }
        .all1{
            background-color: #FF9793;
            color: white;
            display: block;
            width: 70px;
            height: 40px;
            border-radius: 30px;
            margin-left: 2%;
            font-weight: bold;
        }
          .all2{
            background-color: white;
            color:  #FF9793;
            display: block;
            width: 100px;
            height: 40px;
            border-radius: 30px;
            margin-left: 2%;
            font-weight: bold;
        }
          .all3{
            background-color: white;
            color:  #FF9793;
            display: block;
            width: 110px;
            height: 40px;
            border-radius: 30px;
            margin-left: 2%;
            font-weight: bold;
        }
          .all4{
            background-color: white;
            color:  #FF9793;
            display: block;
            width: 120px;
            height: 40px;
            border-radius: 30px;
            margin-left: 2%;
            font-weight: bold;
        }
        #main_offers_box{
            display: flex;
            width: 80%;
            margin: auto;
            font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
        }
        #offers_name{
            width: 30%;
            height: 300px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            cursor: pointer;
            margin-top: 2%;
            background: white;
            position: sticky;
        }
        #button_all1{
            display: flex;
            padding-left: 28%;
            
        }
        #offers_name>div{
            padding: 2% 10px 10% 10px;
        }
        #offers_name>div:nth-child(1){
            font-weight: bold;
        }
        #offers_coupons{
            width: 65%;
            margin-left: 20%;
           
        }
        #offers_coupons>h3{
            text-align: center;
        }
        #offers_coupons>div>div{
            display: flex;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            margin-bottom: 5%;
            align-items: center;
            cursor: pointer;
            padding: 2%;
            background: white;
        }
        #offers_coupons>div>div>div>img{
            width: 90px;
            height: 100%;
        }
        .coupons_details{
            margin-left: 5%;
        }
        .coupons_details>p{
            font-size: 16px;
        }
        .coupons_details>span{
            font-size: 13px;
            font-weight: bold;
            color: salmon;
        }
        @media only screen and (min-width:375px) and (max-width:1000px){
            #main_offers_box{
                display: block;
            }
            #offers_name{
                width: 90%;
                height: 400px;
            }
            #offers_coupons{
                width: 90%;
            }
        }